<app-header></app-header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <aside>
                    <i class="book"></i>
                    <p>Reprocessing Devices</p>
                </aside>
            </div>
            <div class="col-3">
                <aside>
                    <i class="user"></i>
                    <p>Logbook</p>
                </aside>
            </div>
            <div class="col-3">
                <aside>
                    <i class="user"></i>
                    <p>Endoscopes</p>
                </aside>
            </div>
        </div>
    </div>
</section>
