<app-header></app-header>
<section class="d-flex justify-content-center">
    <aside class="p-4">
        <form>
            <div class="formGrp">
                <input type="checkbox">
                <a href="">Department 1</a>
            </div>
            <div class="formGrp">
                <input type="checkbox">
                <a href="">Department 2</a>
            </div>
            <button type="submit" class="my-4">Next</button>
            <div class="clear"></div>
        </form>
    </aside>
</section>